{% extends parent_template() %}

{% block body %}{{ parent() }} register{% endblock %}    

{% block fos_user_content %}
<!-- start: REGISTER BOX -->
<div class="box-register">
        <h3>S'inscrire</h3>
        <p>
                Entrez vos données personnelles ci-dessous:
        </p>
        <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register form-register">
                <div class="errorHandler alert alert-danger no-display">
                        <i class="fa fa-remove-sign"></i> Vous avez des erreurs. Se il vous plaît vérifier ci-dessous.
                </div>
                {{ form_widget(form) }}
               
                <div class="form-actions">
                        Vous avez déjà un compte?
                        <a href="#" class="go-back">
                                Se connecter
                        </a>
                        <button type="submit" class="btn btn-green pull-right">
                                {{ 'registration.submit'|trans({}, 'FOSUserBundle') }} <i class="fa fa-arrow-circle-right"></i>
                        </button>
                </div>
        </form>
        <!-- start: COPYRIGHT -->
        <div class="copyright">
                2014 &copy; Rapido by cliptheme.
        </div>
        <!-- end: COPYRIGHT -->
</div>
<!-- end: REGISTER BOX -->
{% endblock fos_user_content %}
